* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* ===== BODY ===== */

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #1e3c72,
    #2a5298,
    #4facfe
  );
  color: white;
}

/* DARK MODE */

body.dark {
  background: #111827;
  color: white;
}

/* ===== NAVBAR ===== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: linear-gradient(
    90deg,
    #1e3c72,
    #2a5298
  );
}

/* ===== NAV LINKS ===== */

.nav-links {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* ===== TOGGLE SWITCH ===== */

.toggle-switch {
  width: 60px;
  height: 35px;

  border: none;
  border-radius: 50px;

  background:#1e3c72;

  position: relative;

  cursor: pointer;

  transition: 0.4s ease;

  display: flex;
  align-items: center;

  padding: 0 5px;
}

/* ACTIVE MODE */

.toggle-switch.active {
  background: #111827;
}

/* CIRCLE */

.switch-circle {
  width: 20px;
  height: 20px;

  background: white;

  border-radius: 50%;

  position: absolute;

  left: 4px;

  transition: 0.4s ease;
}

/* MOVE CIRCLE */

.toggle-switch.active .switch-circle {
  transform: translateX(35px);
}

/* ICON */

.switch-text {
  width: 100%;
  text-align: center;
  font-size: 16px;
  z-index: 2;
}

/* ===== DARK NAVBAR ===== */

body.dark .navbar {
  background: #0f172a;
}
/* Page Container */

.page-container {
  min-height: 100vh;
  padding: 40px;
}

/* Card */

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  margin: auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

body.dark .card {
  background: #1f2937;
}

/* Inputs */

.card input {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

body.dark .card input {
  background: #374151;
  color: white;
  border: 1px solid #555;
}

/* Button */

.card button {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #1d4ed8;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {

  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left {
    width: 100%;
  }

  .buttons {
    justify-content: center;
  } 
  .chatbox {
    width: 100%;
    max-width: 450px;
}

  .left h1 {
    font-size: 42px;
  }
}